<!DOCTYPE html>
<html>
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MyPlaces</title>

	<!--STYLES-->
    <link rel="stylesheet" type="text/css" href="dist/dependencies.min.css">
    <link rel="stylesheet" type="text/css" href="dist/app.min.css">

  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body ng-app="myApp" ng-controller="postCtrl">

	 <%-body -%>

	<!--SCRIPTS-->
	<script src="dist/dependencies.min.js"></script>
	<script src="dist/app.nomin.js"></script>

	<script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

</body>
</html>